@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    background-color: #111;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: max-content;
    width: max-content;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
}

.container h1{
     color: rgb(177, 177, 177);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}

.usernameSec{
    display: flex;
    justify-content: center;
    width: 100%;
}

.usernameTag, .emailTag,.passwordTag, .Re-passwordTag{
    border: 1px solid rgba(128, 128, 128, 0.4);
    background-color: rgba(4, 5, 17, 0.795);
    color: rgb(177, 177, 177);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-inline: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

input{
    border: 1px solid rgba(128, 128, 128, 0.4);
    padding: 5px;
    width: 100%;
    background-color: rgba(4, 5, 17, 0.795);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    color: rgb(177, 177, 177);
    border-left: none;
}

.usernameSec input:focus{
    border: 1px solid gray;
}

.signup{
    padding: 3px 15px;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid rgb(255, 0, 0);
    background-color: red;
    border-radius: 5px;
    margin-top: 20px;
    transition: .5s;
    color: rgb(202, 202, 202);
    box-shadow: 0px 0px 10px 0px red;
}

.signup:hover{
    box-shadow: 0px 0px 30px 0px red;
}

.wrong-error{
    border: 1px solid red;
    color: red;
}